<form action="convert-mp3" method="post">
  <div class="form__group field">
    <input
      type="search"
      class="form__field"
      placeholder="Paste Youtube Link here"
      name="mp3Id"
      id="name"
      required
    />
    <label for="name" class="form__label">Paste Youtube ID here</label>
  </div>
</form>
