<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs") %>
  <body>
    <!-- header -->
    <%- include("./header.ejs") %>
    <!-- form -->
    <%- include("./form.ejs") %>
    <!-- section -->
    <%- include("./section.ejs") %>
  </body>
</html>
