<section>
  <div class="container">
    <% if (typeof succsess !== "undefined" && succsess) { %>
    <div class="container__succsess">
      <h3 class="container__succsess--title"><%= song_title %></h3>
      <a class="container__succsess--download" href="<%= song_url %>"
        >download</a
      >
    </div>
    <% } else if (typeof succsess !== "undefined" && !succsess) { %>
    <div class="container__error">
      <h3 class="container__error--title"><%= message %></h3>
    </div>
    <%} %>
  </div>
</section>
